<template >
  <v-container style="font-family:times new roman;">
    <div
      
      style="background-color: #EEEEEA;"
    >
      <div>
        <v-img
          :src="require('../assets/logo.svg')"
          class="my-3"
          contain
          height="200"
        ></v-img>
        <div class="text-center">Tel:676069362 / 693074221<br/> Mail: marceldeudjui@gmail.com<br><br></div>
      </div>

      <div mb-4>
        <h2 class=" font-weight-bold mb-3 text-center" text-center>
          FORMATION ACADEMIQUE
        </h2>
        <table style="margin-left:30px;">
          <tr >
            <td  width="300" style="font-weight:bold;" >2019-2020</td>
            <td>INSTITUT UNIVERSITAIRE DE TECNOLOGIE(IUT), Douala Cameroun<br> Genie informatique : EN COURS<br><br></td>
          </tr>
           <tr >
            <td  width="300" style="font-weight:bold;">2018-2019</td>
            <td>INSTITUT UNIVERSITAIRE DE TECNOLOGIE(IUT), Douala Cameroun<br> Genie informatique<br><br></td>
          </tr>
           <tr >
            <td  width="300" style="font-weight:bold;">2011-2018</td>
            <td>LYCEE CLASSIQUE, Dschang Cameroun <br>Baccalaureat C<br><br></td>
          </tr>
        </table>
    
      </div>

      <div
      >
        <h2 class="font-weight-bold mb-3 text-center">REALISATION</h2>

        <div >
        
        <table style="margin-left:30px;">
           <tr >
            <td  width="300" style="font-weight:bold;">2018-2019</td>
            <td>GESNOTE : Un programme de gestion de note d’étudiant en langage C<br/>
              Le programme consistait à gérer les notes de chaque occurrence d’étudiant<br/>
              On pouvait alors effectuer des opérations tel que l’ajout, la suppression la modification et la consultation<br/>
              des données d’un étudiant qui étaient stockés dans des fichiers<br/>
            </td>
          </tr>
        </table>
        </div>
      </div>

      <div>
      
        <h2 class="font-weight-bold mb-3 text-center">CONNAISSANCE ET COMPETENCE</h2>

        <div  style="margin-left:30px;">
          Développement en langage C, java (Codeblocks , Eclipse, Invite de commande)<br/>
          <ul>
            <li> Programmation procédurale</li>
            <li> Programmation orienté objet (constructeur, héritage, polymorphisme, exception, JDBC)</li>
          </ul>
          Développement web<br/>
             Création de page web avec html 5et css3<br/>

          </div>
        </div>

        <div >
        <h2 class=" font-weight-bold mb-3 text-center">LANGUE</h2>

        <v-layout style="margin-left:30px;">
          <p>
            <ul>
              <li> FRANÇAIS (LANGUE MATERNELLE)</li>
              <li> ANGLAIS (NIVEAU SCOLAIRE)</li>
            </ul>
          </p>
        </v-layout>
      </div>

      <div >
        <h2 class=" font-weight-bold mb-3 text-center">ACTIVITE EXTRA ACADEMIQUE</h2>

        <v-layout style="margin-left:30px;">
          <p>
            Commissaire aux comptes du club Génie informatique de l’IUT de douala entre 2019-2020 
            <br/>
            <br/>
            Centre d'interets :Lecture, Voyages
          </p>
        </v-layout>
      </div>
    </div>
  </v-container>
</template>


