<template>
  <v-app>
    <v-app-bar
      app
      center
      dark
      height="50" 
      width="520"
      style="margin-left:500px;"
      
    >
      <div>
        <h1>Deudjui Chamedeu Marcel Parfait</h1>
      </div>
      <v-spacer></v-spacer>

    </v-app-bar>

    <v-content>
      <HelloWorld/>
    </v-content>
  </v-app>
</template>

<script>
import HelloWorld from './components/HelloWorld';

export default {
  name: 'App',

  components: {
    HelloWorld,
  },

  data: () => ({
    //
  }),
};
</script>
